<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Weather App</title>
</head>
<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Weather</h5>
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-dark" href="#">Features</a>
      <a class="p-2 text-dark" href="#">Enterprise</a>
      <a class="p-2 text-dark" href="#">Support</a>
      <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
  </div>
  <div class="container d-flex justify-content-between">
    <div class="col-4">
      <h2>Please enter a city</h2>
      <form  method="post">
        {% csrf_token %}
        {{form.name}}
        <button type="submit" name="button" class="btn btn-danger mt-2">Find</button>
      </form>
    </div>
    <div class="col-4">
      <h2>Information</h2>
      {% for info in all_info %}
      <div class="alert alert-info d-flex justify-content-between">
          <div class="">
            <b>City:</b>{{info.city}}<br>
            <b>Temperature:</b>{{info.temp}}<sup>o</sup><br>
          </div>
          <div class="">
            <img src="https://openweathermap.org/img/w/{{info.icon}}.png" alt="">
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
